# TF
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
!terraform.tfvars.example
.terraform.tfvars
secrets.auto.tfvars

.env
.env.*
!.env.example

*.pem
*.key
id_rsa*
id_ed25519*

.DS_Store


